<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="StrConexao" connectionString="Data Source=DESKTOP-S40VKGH\SQLDEVELOPER;Integrated Security=SSPI;Initial Catalog=UNITPAC_Alunos" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>